%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :name
    %br/
    = f.text_field :name, autocomplete: "name"
  .field
    = f.label :tel_number
    %br/
    = f.number_field :tel, autocomplete: "tel"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"

  .field
    = f.label :postcode
    %br/
    = f.number_field :postcode

  .field
    = f.label :prefecture_code
    %br/
    = f.text_field :prefecture_code,collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県'

  .field
    = f.label :address_city
    %br/
    = f.text_field :address_city

  .field
    = f.label :address_street
    %br/
    = f.text_field :address_street

  .field
    = f.label :address_building
    %br/
    = f.text_field :address_building


  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "customers/shared/links"
