
= "お客様よりお問い合わせが届いております。"
= ""
= "-------------------------------------------------------------"
= ""
= "件名 : #{@contact.title}"
= ""
= "送信者 : #{@contact.name} (返信先 : #{@contact.email})"
= "本文 : \n#{@contact.message}"
= ""
= "-------------------------------------------------------------"
= "以上です。 確認後返信をお願い致します"



