

= "#{@customer.name}様"

= "この度は東京畳工房をご利用いただきありがとうございます。"
= "お買い上げいただきました商品に関しては2~3日ほどを目安に発送いたします。"
= ""
= "ご注文内容に関しては、後ほどこちらからお送りいたします。"
= "引き続きよろしくお願い致します。"
= ""
= "-------------------------------------------------------------"
= "東京畳工房 安藤達弘"
= ""
= "〒197-0011 東京都福生市福生2457-6"
= "TEL 090-3538-6885"
= "○営業時間 9:00 ~ 17:00 ※日祝定休"
= "-------------------------------------------------------------"





 
