

= "#{@customer.name}様"

= "このたびはご注文いただき誠にありがとうございます。"
= "東京畳工房でございます。"
= ""
= "本メールはお客様のご注文情報を当店で受付した際に自動配信されています。"
= "別途,1～3営業日以内に商品の発送予定につきましてメールにてご案内いたします。"
= ""
= "※ご注文時に表示される発送予定は目安となっております。"
= "在庫状況によりましては、発送日が前後する場合もございます。"
="※当店の休業日に関わらず、在庫のあるものは順次発送を致します。"
= ""
= "このメールは今後必要となる場合がございますので大切に"
= "保管いただきますようお願い申し上げます。"
= "ご不明な点、ご不都合等ございましたら下記までお問い合わせくださいませ。"
= ""
= "-------------------------------------------------------------"
= "東京畳工房"
= ""
= "〒197-0011 東京都福生市福生2457-6"
= "TEL 090-3538-6885"
= "○営業時間 9:00 ~ 17:00 ※日祝定休"
= "-------------------------------------------------------------"





 
