= render 'shared/cart-header'
.confarm-content
  .confarm-content__main
    .confarm-content__main__customer
      .confarm-content__main__customer__title
        .confarm-content__main__customer__title__font 購入者情報（お届け先）の確認
      .confarm-content__main__customer__box
        .confarm-content__main__customer__box__title 購入者情報
        .confarm-content__main__customer__box__basic-information
          .confarm-content__main__customer__box__basic-information__left
            .confarm-content__main__customer__box__basic-information__left__title 基本情報
            .confarm-content__main__customer__box__basic-information__left__informations
              #confarm-informations-parts
                = current_customer.name
              #confarm-informations-parts
                = "〒#{current_customer.postcode}"
                %br/
                = current_customer.prefecture_code
                = current_customer.address_city
                = current_customer.address_street
                = current_customer.address_building
              #confarm-informations-parts
                = current_customer.tel
              #confarm-informations-parts
                = current_customer.email
          .confarm-content__main__customer__box__basic-information__right
            = link_to "変更", edit_customer_path(current_customer.id), class: 'confarm-content__main__customer__box__basic-information__right__update-btn'

    .confarm-content__main__current-cart
      .confarm-content__main__current-cart__title
        %p.confarm-content__main__current-cart__title__font 注文内容
      .confarm-content__main__current-cart__box
        .confarm-content__main__current-cart__box__top
          %p.confarm-content__main__current-cart__box__top__name 商品名
          %p.confarm-content__main__current-cart__box__top__price 値段
          %p.confarm-content__main__current-cart__box__top__sum 個数
          %p.confarm-content__main__current-cart__box__top__subtotal 小計
        .confarm-content__main__current-cart__box__middle 
          - @cart_items.each do |i|
            .confarm-content__main__current-cart__box__middle__product{"item-id": "#{i.id}"}
              .confarm-content__main__current-cart__box__middle__product__title
                .confarm-content__main__current-cart__box__middle__product__title__name
                  = i.product.name
                = image_tag(i.product.image.url, class: 'cart-content__main__current-cart__box__middle__product__title__image')
              .confarm-content__main__current-cart__box__middle__product__price
                = "¥#{i.product.price}"
              #confarm-view-product-quantity
                .confarm-content__main__current-cart__box__middle__product__sum__quantity
                  = "現在の数量 : #{i.quantity}"
              .confarm-content__main__current-cart__box__middle__product__subtotal
                = "¥#{i.product.price * i.quantity}"
        .confarm-content__main__current-cart__box__bottom
          .confarm-content__main__current-cart__box__bottom__products
            .confarm-content__main__current-cart__box__bottom__products__title 商品
            .confarm-content__main__current-cart__box__bottom__products__price 
              = @total.sum
          .confarm-content__main__current-cart__box__bottom__shipping-fee
            .confarm-content__main__current-cart__box__bottom__shipping-fee__title 送料
            .confarm-content__main__current-cart__box__bottom__shipping-fee 配送先によって異なります
          .confarm-content__main__current-cart__box__bottom__total
            .confarm-content__main__current-cart__box__bottom__total__box
              .confarm-content__main__current-cart__box__bottom__total__box__left
                = "合計 :" 
              .confarm-content__main__current-cart__box__bottom__total__box__right
                = "¥ #{@total.sum}"
    .confarm-content__main__purchase
      .confarm-content__main__purchase__cart-link
        = link_to "カートに戻る", cart_path(current_cart.id), class: 'confarm-content__main__purchase__cart-link__btn'
      .confarm-content__main__purchase__purchase-link
        = form_with local: true, url: purchases_pay_path do |form|
          = form.hidden_field :amount, value: @total.sum
          = form.hidden_field :cart_id, value: current_cart.id
          = form.hidden_field :customer_id, value: current_customer.id
          = form.button "カード決済をする", class: 'confarm-content__main__purchase__purchase-link__btn'
          -# %script.payjp-button{"data-key" => "pk_test_249441c3c84fde3e191db39c", src: "https://checkout.pay.jp", type: "text/javascript"}
 
= render 'shared/footer'
= link_to "ログアウト", destroy_customer_session_path, method: :delete