購入確認
%br/
%br/
- @cart_items.each do |i|
  .items
    = "商品名 : #{i.product.name}"
    %br/
    = "価格: ¥#{i.product.price} × 個数: #{i.quantity} = ¥#{i.product.price * i.quantity}"
    %p -------------------------------
  .items__total
    
%br/
%br/
= current_customer.name
%br
= current_customer.prefecture_name

= link_to "ログアウト", destroy_user_session_path, method: :delete