.cart-header
  .cart-header__content
    .cart-header__content__logo
      = link_to "東京畳工房", root_path, class: 'cart-header__content__logo__top', id: 'cart-header-font'
      = link_to "Tokyo Tatami Studio", root_path, class: 'cart-header__content__logo__bottom', id: 'cart-header-font'

- @cart_items.each do |i|
  .cart_content{"item-id": "#{i.id}"}
    = i.product.category.name
    = i.product.name
    = image_tag(i.product.image.url)
    = i.product.price
    %p 個数
    = i.quantity
    = form_with model: @cart_item, url: update_item_path do |item|
      = item.number_field :quantity
      = item.hidden_field :product_id, value: i.product_id
      = item.submit :"個数変更"
    .delete_btn 削除

= link_to "購入確認へ", purchases_path, class: 'purchase_confarm_btn'




