



.main
  #home-header-show
    = render 'shared/home-header'

  .scroll{href: "#"}
    .arrow 

  .mainvisual
    = image_tag 'opening1-min.jpg', class: "mainimage"
    .mainvisual__hello-message
      .mainvisual__hello-message__welcome
        = "welcome!"
    .mainvisual__open-message
      .mainvisual__open-message__tatami 
        = "TATAMI"
    .mainvisual__text
      .mainvisual__text__right 東京畳工房は、
      .mainvisual__text__center 畳に関する商品を販売します。
      .mainvisual__text__left 営業時間 9:00 ~ 17:00 ※日祝定休
  .home-content

    #onebox.home-content__introduce
      #onebox__title.home-content__introduce__title 伝統の畳
      #onebox__main.home-content__introduce__about
        .home-content__introduce__about__text
          #fade_on_parts.home-content__introduce__about__text__left
            畳には和の空間を作り出す力があると思います。
            %br/
            和の空間を作り、皆様の生活に落ち着きや安らぎを与えられるような商品を販売したいと思います。
            %br/
            サイズ指定の畳や畳小物などのオーダーメイド商品、
            %br/
            「このようなもの作れますか？」といったお問い合わせでも大歓迎です。
            %br/
            もちろん畳の表替え、入れ替えもできますのでお気軽にご相談ください。
          .home-content__introduce__about__text__right
            .home-content__introduce__about__text__right__first 落ち着きのある空間を
            .home-content__introduce__about__text__right__second 生み出すお手伝い


    #onebox.home-content__products
      #onebox__title.home-content__products__title 商品
      #onebox__main.home-content__products__list
        .home-content__products__list__minitatami
          = link_to products_path, class: 'home-content__products__list__minitatami__frame' do
            = image_tag 'product1.jpg', class: "home-content__products__list__minitatami__frame__image" 
          .home-content__products__list__minitatami__title ミニ畳
          #product_expository_writing
            陶磁器を置いたり、花瓶を置いたり、
            %br/
            和の空間作りにもってこいです。
        .home-content__products__list__pattern
          = link_to products_path, class: 'home-content__products__list__pattern__frame' do
            = image_tag 'pattern.jpg', class: "home-content__products__list__pattern__frame__image" 
          .home-content__products__list__pattern__title 
            縁
          #product_expository_writing
            畳の縁でつくるバッグやポーチなどを作る手芸の材料にいかがでしょうか。
            %br/
            １メートルから販売をしておりますので、
            %br/
            お好きな柄の畳縁をご希望の長さで購入いただけます。
        .home-content__products__list__order-made
          = link_to (), class: 'home-content__products__list__order-made__frame' do
            = image_tag 'product2.jpg', class: "home-content__products__list__order-made__frame__image" 
          .home-content__products__list__order-made__title オーダーメイド
          #product_expository_writing
            ご希望のサイズの畳や畳小物を作ります。
            %br/
            畳の厚さ縦横長さできるだけご要望に近いものを作ります。
            %br/
            「こんなの作れる？」といったお問い合わせも大歓迎です。

    #onebox.home-content__rental
      #onebox__title.home-content__rental__title レンタル
      #onebox__main.home-content__rental__about
    
            

    .bottom
      .home-content__contact
        = link_to new_contact_path, class: 'home-content__contact__link' do
          .home-content__contact__link__main-text お問い合わせ
      
  = render 'shared/footer'

        


    