



.main
  #home-header-show
    = render 'shared/home-header'

  .scroll{href: "#"}
    .arrow 

  .mainvisual
    = image_tag asset_path('opening1.jpg', class: "mainimage" )
    .mainvisual__hello-message
      .mainvisual__hello-message__welcome
        = "welcome!"
    .mainvisual__open-message
      .mainvisual__open-message__tatami 
        = "TATAMI"
    .mainvisual__text
      .mainvisual__text__right 東京畳工房は、
      .mainvisual__text__center 畳に関する商品を販売します。
      .mainvisual__text__left 営業時間 9:00 ~ 17:00 ※日祝定休
  .home-content
    #onebox.home-content__products
      #onebox__title.home-content__products__title 商品
      #onebox__main.home-content__products__list
        .home-content__products__list__minitatami
          = link_to products_path, class: 'home-content__products__list__minitatami__frame' do
            = image_tag('/assets/product1.jpg', class: "home-content__products__list__minitatami__frame__image" )
          .home-content__products__list__minitatami__title ミニ畳
        .home-content__products__list__pattern
          = link_to products_path, class: 'home-content__products__list__pattern__frame' do
            = image_tag('/assets/pattern.jpg', class: "home-content__products__list__pattern__frame__image" )
          .home-content__products__list__pattern__title 縁
        .home-content__products__list__order-made
          = link_to (), class: 'home-content__products__list__order-made__frame' do
            = image_tag('/assets/product2.jpg', class: "home-content__products__list__order-made__frame__image" )
          .home-content__products__list__order-made__title オーダーメイド

    #onebox.home-content__rental
      #onebox__title.home-content__rental__title レンタル
      #onebox__main.home-content__rental__about
    
    #onebox.home-content__introduce
      #onebox__title.home-content__introduce__title 伝統の畳
      #onebox__main.home-content__introduce__about

    .bottom
      .home-content__contact
        = link_to new_contact_path, class: 'home-content__contact__link' do
          .home-content__contact__link__main-text お問い合わせ
      
  = render 'shared/footer'

        


    