

.opening-image

.main
  .home-header
    .home-header__main
      .home-header__main__content
        .home-header__main__content__logo
          = link_to "東京畳工房", root_path, class: 'home-header__main__content__logo__top',id: 'header-font'
          = link_to "Tokyo Tatami Studio", root_path, class: 'home-header__main__content__logo__bottom',id: 'header-font'
        .home-header__main__content__menu
          #menu.home-header__main__content__menu__products
            = link_to "商品一覧", products_path, class: 'home-header__main__content__menu__products__link', id: 'header-font'
          #menu.home-header__main__content__menu__rental
            = link_to "畳レンタル", {}, class: 'home-header__main__content__menu__rental__link', id: 'header-font'
          #menu.home-header__main__content__menu__contact
            = link_to "お問い合わせ", {}, class: 'home-header__main__content__menu__contact__link', id: 'header-font'
    .home-header__right
      #nav-drawer
        %input.nav-unshown#nav-input{type: 'checkbox'}
        %label#nav-open{for: 'nav-input'}
          %span
        %label#nav-close.nav-unshown{for: "nav-input"}
        #nav-content
          .nav-content-logo
            = link_to "東京畳工房", root_path, class: 'nav-content-logo__top',id: 'header-font'
            = link_to "Tokyo Tatami Studio", root_path, class: 'nav-content-logo__bottom',id: 'header-font'
          .nav-content-list
            .nav-content-list__products
              = link_to "商品一覧", products_path, class: 'nav-content-list__products__link'
            .nav-content-list__rental
              = link_to "畳レンタル", {}, class: 'nav-content-list__rental__link'
            .nav-content-list__contact
              = link_to "お問い合わせ", {}, class: 'nav-content-list__contact__link' 


      
  .mainvisual
    .mainimage
    .mainvisual__text
      .mainvisual__text__right 東京畳工房は、
      .mainvisual__text__center 畳に関する商品を販売します。
      .mainvisual__text__left 営業時間 9:00 ~ 17:00 ※日祝定休
  .home-content
    #onebox.home-content__products
      #onebox__title.home-content__products__title 商品
      #onebox__main.home-content__products__list
        .home-content__products__list__minitatami
          = link_to products_path, class: 'home-content__products__list__minitatami__frame' do
            = image_tag('product1.jpg', class: "home-content__products__list__minitatami__frame__image" )
          .home-content__products__list__minitatami__title ミニ畳
        .home-content__products__list__pattern
          = link_to products_path, class: 'home-content__products__list__pattern__frame' do
            = image_tag('pattern.jpg', class: "home-content__products__list__pattern__frame__image" )
          .home-content__products__list__pattern__title 縁
        .home-content__products__list__order-made
          = link_to (), class: 'home-content__products__list__order-made__frame' do
            = image_tag('product2.jpg', class: "home-content__products__list__order-made__frame__image" )
          .home-content__products__list__order-made__title オーダーメイド

    #onebox.home-content__rental
      #onebox__title.home-content__rental__title レンタル
      #onebox__main.home-content__rental__about
    
    #onebox.home-content__introduce
      #onebox__title.home-content__introduce__title 伝統の畳
      #onebox__main.home-content__introduce__about

    .home-content__contact
      .home-content__contact__link
        .home-content__contact__link__main-text お問い合わせ
        .home-content__contact__link__sub-text お気軽にお問い合わせください


  = render 'shared/footer'

        


    