= render 'shared/products-header'
.product-show-content
  .product-show-content__main
    .product-show-content__main__title
      = @product.name
    .product-show-content__main__images
      .product-show-content__main__images__left
        = image_tag(@product.image.url, class: 'product-show-content__main__images__left__main-image')
      .product-show-content__main__images__right
        .product-show-content__main__images__right__sub-images
          .product-show-content__main__images__right__sub-image
    .product-show-content__main__bottom
      .product-show-content__main__bottom__left
        .product-show-content__main__bottom__left__text
          = @product.text
      .product-show-content__main__bottom__right
        .product-show-content__main__bottom__right__price
          = "¥#{number_with_delimiter @product.price}(税込)"
        .product-show-content__main__bottom__right__attention
          = "※こちらの価格には消費税が含まれています。"
          %br/
          = "※送料は別途発生いたします。"
          %br/
          = "※送料一律200円、7000円以上送料無料です。"
        .product-show-content__main__bottom__right__add-cart
          = form_with model: @cart_item, url: add_item_path do |f|
            .product-show-content__main__bottom__right__add-cart__sum
              = f.label '数量'
              - if @product.category_id == 3
                = f.number_field :quantity, value: 1
                メートル
                %br/
                .product-show-content__main__bottom__right__add-cart__sum__info
                  ※ご希望の長さを入力ください
              - else 
                = f.number_field :quantity, value: 1
                個
            .product-show-content__main__bottom__right__add-cart__bottom
              = f.hidden_field :product_id, value: @product.id
              = f.submit :"カートに追加", class: 'product-show-content__main__bottom__right__add-cart__bottom__btn'
= render 'shared/footer'

